body {background-color:#fff; background-image: url('../../../media/icons/background.jpg') !important; background-size: cover; background-repeat: no-repeat; position: static !important; height: 100vh; background-position: center bottom;}
.login-holder {  border: 1px #f1f1f1 solid; padding:0px ; position: absolute; left:50%; top: 50%; transform:translate(-50%, -50%) ; font-size: 14px; width: 100%; max-width: 1100px;}
.login-inner { display: flex; background-color: #fff; padding:0px }
.login-box { padding:0px ; width: 50%;}
.login-box .login-form { padding: 25px 25px;}
.login-holder .login-inner .login-image{display: flex;justify-content: center; align-items: center; height: 100%; background:#eff2f7 ; min-height: 505px;}
.login-box ul { list-style: none; margin: 0; padding: 0;}
.login-box ul li { position: relative; margin-bottom: 15px;}
.forgotPassword{ text-decoration: underline; cursor: pointer;}

.login-box h4{ font-size: 22px; color: #333333;}
.login-box p{ font-size: 14px; color: #444444;}

.login-box .form-control{border: 1px #f1f1f1 solid; padding: 2px 0px; text-indent: 15px; width: 100%; border-radius: 5px; height: 40px;}

.login-box .btn-purple{ border: 1px #7367f0 solid; background: #f1f1f1; color:#7367f0; border-radius: 5px; height: 35px; min-width: 150px;}
.login-box .btn-purple:hover{ background:#7367f0 ; color: #fff; cursor: pointer;}


.login-box ul li div .check-box{ }
.login-box ul li div a{color: #7367f0;}
.login-box .btn-holder{ display:flex; justify-content: space-between; list-style: none;}
.login-box .btn-holder div{ display:flex; justify-content: flex-start; width: 50%;}
.login-box .btn-holder div:nth-child(2){ text-align: right; justify-content: flex-end;}

/* Tab holder CSS */
.tab-holder{ }
.tab-holder nav{ display: block; width: 100%; margin-bottom: 25px; box-shadow: -1px 11px 17px -10px #f1f1f1}
.tab-holder nav a{ display:inline-block; padding: 8px 15px; border-bottom: 1px #fff solid; line-height: 25px; color: #7367f0; text-decoration: none; margin:0px 2px; position: relative; color: #000;font-weight: 600px} 
.tab-holder nav a:hover,
.tab-holder nav a:focus,
.tab-holder nav a.active{ outline: 0; color: #7367f0} 
.tab-holder nav a:after{position: absolute; content: ""; bottom: 0px; width: 100%; height: 2px; background-color:#7367f0; box-shadow: 0px 0px 2px #f1f1f1; left:0; display: none;} 
.tab-holder nav a.active:after{ display: block}

.login-box .btn-holder .SSOlogin{margin-top: 15px; background:#7367f0 ; color: #fff ; min-width: 200px ; max-width: 300px ; width: 100%; margin: auto}




