body{
    position: static !important; height: 100vh;
}
.forgot-box{ background-color:white; max-width: 500px; left: 50%; top:50%; position: absolute; transform: translate(-50%, -50%); border: #f1f1f1 1px solid; padding: 15px 15px;}
.forgot-box h2{font-size: 16px; margin-bottom: 25px;} 
.forgot-box p{ font-size: 14px; margin-bottom: 30px;} 
.forgot-box p.error{ font-size: 14px; padding: 15px 0px;} 
.forgot-box .form-control{ border-radius: 5px; border: 1px solid #7367f0; font-size: 14px; width: 100%; margin-bottom: 25px; height: 30px; text-indent: 15px} 
.forgot-btn{ display: flex; justify-content: space-between;}
.btn-purple{ border: 1px solid #7367f0; background-color: #ffffff; font-size: 14px; border-radius: 5px; padding: 2px 15px; height: 30px}